<!-- <div class="banner"> -->
<nav>
    <div class="site title">
        <a href="/home">
            <h1 class="logo" style="--int:45s">The 360 </h1>
            <!-- <img src="logo.png" width="128" height="128"> -->
        </a>
        <h2 class="headerCon" style="margin-left: 1em">Your All-Around Podcast</h2>
    </div>
    <ul>
        <li><a href="/home" class="headerCon">Home</a></li>
        <li><a href="/episodes" class="headerCon">Episodes</a></li>
        <li><a href="/about" class="headerCon">About</a></li>
    </ul>
</nav>
<!-- </div> -->