<html>
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="epiTitle" style="--clr:red">
                OPPS, 404 PAGE NOT FOUND
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>



</html>