<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2 class="neonText" style="padding-bottom: 10px ;">ABOUT US</h2>
                <div class="desc">
                    <p style="font-size: larger; padding-bottom: 10px;">
                        <i>The 360</i>&nbsp is THE all-around podcast.
                        <br> Two guys and guests talking about whatever in life from all forms of media, sports,
                        entertainment, etc...
                        <br>It's about having a good time with good people and getting a mental break from the craziness
                        that is life.
                    </p>
                    <p style="font-size: larger;">
                        Conceptualized in early 2021 by Evan Couch, <i>The 360</i>&nbsp Podcast launched in early 2022
                        by host Evan Couch and Brevin Ross along occasional guest and CFO Max Pickard.
                        <br>
                    </p>
                </div>
            </div>


            <%- include('./partials/footer.ejs') %>
    </body>


</html>