<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2 class="neonText" style="padding-bottom: 10px; --int: 13s; --clr: var(--blue);">ABOUT US</h2>
                <div style="display: flex;">
                    <div class="desc">
                        <p style="font-size: 2em; padding-bottom: 10px;">
                            <i>The 360</i>&nbsp is THE all-around podcast. Two guys and guests talking about whatever in
                            life from all forms of media, sports,
                            entertainment, etc...
                            It's about having a good time with good people and getting a mental break from the
                            craziness
                            that is life
                        </p>
                        <p style="font-size: 2em; padding-bottom: 10px;"" >
                            Conceptualized in early 2021 by Evan Couch and Max Pickard, <i>The 360</i>&nbsp Podcast
                            launched in early
                            2022
                            by host Evan Couch and Brevin Ross along occasional guest and CFO Max Pickard. Based in
                            Darrington Washington, <i>The 360</i>&nbsp covers a variety of topics including but not
                            limited to music, films, television, world news, sports, and general life stories.
                        </p>
                        <p style=" font-size: 2em;">
                            For general business inqueries, please contact us at <bold>thethreesixOshow@gmail.com</bold>
                            or shoot us a dm @thethreesixo on Instagram!
                        </p>
                    </div>
                    <div>
                        <img src="images/logo_small.png" width="em" height="em"
                            style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                </div>

            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>