<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2 class="neonText" style="padding-bottom: 20px ;">ABOUT US</h2>
                <p> Started in 2021</p>
                <p> Line 2</p>
                <p> Line3</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>


</html>