<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="centerABS">
            <div>
                <img src="images/logo.png" class="indexIMG">
            </div>
            <div style="display:flex;   align-items: center;
            justify-content: center;">

                <a href="/home">
                    <h1 class="indexLink" style="--dur:5s;--int:0s; --clr: rgb(31, 81, 255)">HOME PAGE</h1>
                </a>
                <a href="https://open.spotify.com/show/6ZkUOZ48U44T4pnxuewZ04?si=44af767836384039">
                    <h1 class="indexLink" style="--dur: 15s;--int:0s; --clr:#25d366">LISTEN</h1>
                </a>
                <a href="https://www.instagram.com/thethreesixo/">
                    <h1 class="indexLink" style="--dur:12s; --int:0s; --clr:#c32aa3">INSTAGRAM</h1>
                </a>
            </div>
            <%- include('./partials/footerIndex.ejs') %>
        </div>


    </body>

</html>