/* index page  */
.centerABS {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.indexIMG {
    max-width: 750px;
    max-height: 750px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.indexLink {
    color: white;
    font-family: var(--font);
    font-weight: lighter;
    padding: 0;
    margin: auto;
    text-decoration: none;
    position: relative;
    text-align: center;
    text-shadow: 0 0 7px var(--clr),
        0 0 10px var(--clr),
        0 0 21px var(--clr),
        0 0 42px var(--clr),
        0 0 82px var(--clr),
        0 0 92px var(--clr),
        0 0 102px var(--clr),
        0 0 151px var(--clr);
    ;
    animation: animateIndex var(--dur) var(--int) infinite alternate;
}