@import url('https://fonts.cdnfonts.com/css/hello-denver-display');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

:root {
    --font: 'HELLO DENVER DISPLAY REGULAR', sans-serif;

    --blue: rgb(31, 81, 255);

    --purple: rgb(223, 0, 254);

    --bg: rgb(17, 17, 18);

    --blue-glow: 0 0 7px var(--blue),
        0 0 10px var(--blue),
        0 0 21px var(--blue),
        0 0 42px var(--blue),
        0 0 82px var(--blue),
        0 0 92px var(--blue),
        0 0 102px var(--blue),
        0 0 151px var(--blue);

    --purple-glow: 0 0 7px var(--purple),
        0 0 10px var(--purple),
        0 0 21px var(--purple),
        0 0 42px var(--purple),
        0 0 82px var(--purple),
        0 0 92px var(--purple),
        0 0 102px var(--purple),
        0 0 151px var(--purple);

    --random: 0;
}

body {
    background-image: url(/images/bg.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    height: auto;
    max-width: em;
    margin: 0px auto;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

p,
h1,
h2,
h3,
a,
ul,
figcaption {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-size: larger;
}

.neonText {
    color: white;
    font-family: var(--font);
    font-weight: lighter;
    margin: 0;
    padding: 0;
    width: fit-content;
    text-decoration: none;
    position: relative;
    bottom: 20px;
    text-shadow: 0 0 7px var(--clr),
        0 0 10px var(--clr),
        0 0 21px var(--clr),
        0 0 42px var(--clr),
        0 0 82px var(--clr),
        0 0 92px var(--clr),
        0 0 102px var(--clr),
        0 0 151px var(--clr);
    animation: animate 10s var(--int) infinite alternate;
}

/* navbar styles */
.logo {
    color: white;
    font-family: var(--font);
    background-color: transparent;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: lighter;
    text-shadow: var(--blue-glow);
    animation: animateLogo 45s var(--int) infinite alternate;
}

.title {
    color: white;
    margin: 0px;
    padding: 0px;
}

.headerCon {
    color: white;
    margin: 0;
    padding: 0;
    display: block;
}

/* host styles */
.host {
    text-align: center;
}

.hostIMG {
    margin-bottom: 20px;
    border-radius: 10px;
}


.hostIMG:hover {
    box-shadow: 0px 0px 20px 10px var(--clr);
    transform: scale(1.1);
    transition: 0.5s;
}

.footer {
    position: relative;
    margin: 20px auto;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.aboutImage {
    width: 30em;
    height: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
    .logo {
        font-size: 100px;
    }

    .neonText {
        font-size: 65px;
    }

    .headerCon {
        font-size: 30px;
    }

    .hostIMG {
        width: 256px;
        height: 256px;

    }

    .epiTitle {
        font-size: 60px;
    }

    .desc {
        font-size: larger;
    }

    #myInput {
        background-position: 12px 20px;
        background-size: 20px;
        width: 25%;
    }

    .aboutImage {
        width: 30em;
        height: 30em;
    }

    .ico ul {
        gap: 2em
    }

    .host {
        text-align: center;
        margin: 25px;
    }

    .hostSec {
        padding-bottom: 50px;
    }

    .ico ul li a {
        font-size: 3em;
    }

    .ico ul li:hover a {
        font-size: 3em;
    }

    .indexIMG {
        width: calc(750px - 10vw);
        height: calc(750px - 10vw);
        margin-bottom: 0px;
    }

    .indexLink {
        font-size: 5em;
        bottom: 20px;
    }
}

/* If the screen size is 600px or less */
@media only screen and (max-width: 600px) {
    .logo {
        font-size: 12vw;
    }

    .neonText {
        font-size: 6vw;
    }

    .headerCon {
        font-size: 1.75vw;
    }

    .hostIMG {
        width: 25vw;
        height: 25vw;
    }

    .epiTitle {
        font-size: 5.5vw;
    }

    .desc {
        font-size: 2vw;
    }

    #myInput {
        background-size: 1.5vh;
        background-position: 12px 10px;
        width: 50vw;
    }

    .aboutImage {
        width: 75vw;
        height: 75vw;
    }

    .ico ul {
        gap: 5vw
    }

    .host {
        text-align: center;
        margin: 1vw;
    }

    .hostSec {
        padding-bottom: 3vh;
    }

    .ico ul li a {
        font-size: 7vw;
    }

    .ico ul li:hover a {
        font-size: 7vw;
    }

    .indexIMG {
        width: 100vw;
        height: 100vw;
        margin-bottom: 1vh;
    }

    .indexLink {
        font-size: 15vw;
        bottom: 2vh;
    }
}